.table th {
    background-color: var(--primary);   
    color: var(--white);
    vertical-align: middle;
}

.table td {
    vertical-align: middle;
}

.btn-simpan {
    background-color: var(--primary);
    color: var(--white);
    transition: 0.3s ease;
}

.btn-simpan:hover {
    background-color: var(--accent);    
    color: var(--white);
}

a:hover {
    color: var(--accent);
    text-decoration: underline;
}

.alert-info {
    background-color: #d1f3ff;         
    color: #004f5f;                    
    border-left: 4px solid var(--primary);
}
