@import url('../variables.css');


body {
    margin: 0;
    font-family: var(--font-main);
}

.dashboard-wrapper {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 220px;
    background: var(--primary);
    color: var(--white);
    padding: 20px;
}

.logo {
    font-size: 1.5em;
    margin-bottom: 1rem;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    margin: 10px 0;
    cursor: pointer;
}

.menu li.active {
    background: var(--white);
    color: var(--primary);
    padding: 5px 10px;
    border-radius: var(--radius-sm);
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background: var(--bg);
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stats-boxes {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.stat {
    background: var(--accent);
    padding: 20px;
    flex: 1;
    text-align: center;
    border-radius: var(--radius);
    font-weight: bold;
}

.charts {
    display: flex;
    gap: 20px;
}

.chart-container {
    background: var(--white);
    padding: 20px;
    flex: 1;
    border-radius: var(--radius);
}

.bottom-lists {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.list-box {
    background: var(--white);
    flex: 1;
    padding: 20px;
    border-radius: var(--radius);
}
